<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <div style="text-align: right;">
                    <b>---</b>
                </div>
                <div class="shadow">
                    <div class="input-group p-md-2" style="width: 100%;">
                        <div class="row pt-3 pb-1 ps-4" style="width: 100%;">
                            <div class="col text-right">
                                <h4>Movies Collection</h4>
                            </div>
                            <div class="col text-right"
                                style="position: relative; text-align: right; justify-items: center;">
                                <button class="btn btn-outline-success rounded-circle" type="button"
                                    data-bs-toggle="modal" data-bs-target="#exampleModalCopy">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3 p-md-4 p-2">
                        <input type="text" class="form-control" placeholder="movies title"
                            aria-label="Recipient's username" aria-describedby="button-addon2"
                            [(ngModel)]="searchTitle">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            (click)="searchMovies()">Search</button>
                    </div>

                    <div style="overflow: auto; max-height: 430px;">
                        <div class="m-3" *ngFor="let movies of moviesArr">
                            <div class="p-2 shadow border">
                                <div class="container">
                                    <div class="row" type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalDetail" (click)="call(movies)">
                                        <div
                                            class="col-md-12 pt-3 col-lg-3 d-flex align-items-center justify-content-center">
                                            <div class="card border-0" style="display: table-cell;
                                            vertical-align: middle;
                                            text-align: center;">
                                                <h3 style="text-align: center;">
                                                    <fa-icon [icon]="faMasksTheater" size="2x"></fa-icon>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-7 mt-2">
                                            <div class="card border-0">
                                                <h5>{{movies.title}}</h5>
                                                {{movies.director}}
                                                <div style="text-align: right; padding-right: 10px; padding-top: 10px;">
                                                    {{movies.genres}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-2 mt-2" style="text-align: right;">
                                            <button class="btn btn-outline-primary btn-sm border-0" type="button"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                (click)="call(movies)">
                                                <fa-icon [icon]="faMagicWandSparkles"></fa-icon>
                                            </button>
                                            <button class="btn btn-outline-danger btn-sm border-0"
                                                (click)="deleteMovies(movies)">
                                                <fa-icon [icon]="faPenRuler"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <b>---</b>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Movies Collection</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form action="" class="p-4">
                                        <div class="mb-3"><label>Title</label>
                                            <input type="text" [(ngModel)]="editTitle" name="title"
                                                class="form-control">
                                            <span *ngIf="errors.title" class="text-danger">{{errors.title}}</span>
                                        </div>
                                        <div class="mb-3">
                                            <label>Director</label>
                                            <input type="text" [(ngModel)]="editDirector" name="director"
                                                class="form-control">
                                            <span *ngIf="errors.director" class="text-danger">{{errors.director}}</span>
                                        </div>
                                        <div class="mb-3">
                                            <label>Summary</label>
                                            <input type="text" [(ngModel)]="editSummary" name="summary"
                                                class="form-control">
                                            <span *ngIf="errors.summary" class="text-danger">{{errors.summary}}</span>
                                            <span>{{editSummary}}</span>
                                        </div>
                                        <div class="mb-3">
                                            <label>Genres</label>
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="drama"
                                                        [(ngModel)]="selectedGenres.drama" /> Drama
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="sciFi"
                                                        [(ngModel)]="selectedGenres.sciFi" /><br> Sci-Fi
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="animation"
                                                        [(ngModel)]="selectedGenres.animation" /> Animation
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="horror"
                                                        [(ngModel)]="selectedGenres.horror" /> Horror
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="action"
                                                        [(ngModel)]="selectedGenres.action" /> Action
                                                </label>
                                            </div>
                                            <span *ngIf="errors.genres" class="text-danger">{{errors.genres}}</span>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-outline-success"
                                                (click)="updateMovies()">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCopy" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Movies Collection</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form action="" class="p-4">
                                        <div class="mb-3"><label>Title</label>
                                            <input type="text" [(ngModel)]="addTitle" name="title" class="form-control">
                                            <span *ngIf="errors.title" class="text-danger">{{errors.title}}</span>
                                        </div>
                                        <div class="mb-3">
                                            <label>Director</label>
                                            <input type="text" [(ngModel)]="addDirector" name="director"
                                                class="form-control">
                                            <span *ngIf="errors.director" class="text-danger">{{errors.director}}</span>
                                        </div>
                                        <div class="mb-3">
                                            <label>Summary</label>
                                            <input type="text" [(ngModel)]="addSummary" name="summary"
                                                class="form-control">
                                            <span *ngIf="errors.summary" class="text-danger">{{errors.summary}}</span>
                                        </div>
                                        <div class="mb-3 row">
                                            <label>Genres</label>
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="drama"
                                                        [(ngModel)]="selectedGenres.drama" /> Drama
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="sciFi"
                                                        [(ngModel)]="selectedGenres.sciFi" /><br> Sci-Fi
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="animation"
                                                        [(ngModel)]="selectedGenres.animation" /> Animation
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="horror"
                                                        [(ngModel)]="selectedGenres.horror" /> Horror
                                                </label>
                                                <label class="btn btn-outline-primary border-0">
                                                    <input autocomplete="off" type="checkbox" name="action"
                                                        [(ngModel)]="selectedGenres.action" /> Action
                                                </label>
                                            </div>
                                            <span *ngIf="errors.genres" class="text-danger">{{errors.genres}}</span>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-outline-success"
                                                (click)="addMovies()">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Detail -->
                <div class="modal fade" id="exampleModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Movies Detail</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form action="" class="p-4">
                                        <div class="pb-3">
                                                <h3 style="text-align: center;">
                                                    <fa-icon [icon]="faMasksTheater" size="2x"></fa-icon>
                                                </h3>
                                            </div>
                                        <div class="mb-3">
                                            <div class="col">
                                                <label>
                                                    <b>Title</b>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label>
                                                    {{editTitle}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="col">
                                                <label>
                                                    <b>Director</b>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label>
                                                    {{editDirector}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="col">
                                                <label>
                                                    <b>Summary</b>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label>
                                                    {{editSummary}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="col">
                                                <label>
                                                    <b>Genres</b>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label>
                                                    {{editGenres}}
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
